body {
    background-color: #1ECBE1;
    color: white;
    margin: 0;
    padding: 0;
    font: normal 18pt Arial;

}
header {
    background-color: #ffffff;
    height: 56px;
    margin: 0;
    padding: 0;
}
section {
    padding: 0 16px;
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #0B4950;
}

h3 {
    padding-top: 50px;
    padding-bottom: 20px;
}

label {
    width:28%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 10px 0;
    border: 1px solid #646464;
    font-size: 16px;
    background-color: #ABECF4;
    color: #121212;
    line-height: 30px;
    padding: 0 6px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
 }

.textbox {
    width: 70.5%;
    border: 1px solid #646464;
    background-color: #D8F6FA;
    outline:0;
    height:30px; 
    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #121212;
 }
 
 .button_large, .button_small {
    border: 1px solid #646464;
    background-color: #18A4B5;
    outline:0;
    height:30px; 
    margin: 5px 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
 }

 .button_large:active, .button_small:active {
    background-color: #0B4950;
    font-weight: bold;
}

 .button_large {
     width: 79%;
 }

 .button_small {
     width: 19%;
 }

 #resultado {
     margin-top: 50px;
 }

#data {
    display: none;
}

 .content-table {
     width: 100%;
     border-collapse: collapse;
     border-radius: 5px 5px 0 0;
     box-shadow: 0 0 15px #0B4950;
     overflow: hidden;
     margin: 25px 0;
     font-size: 0.9em;
 }

 .content-table tr td:nth-child(2), .content-table tr td:nth-child(3) {
    text-align: right;
 }

.content-table th,
.content-table td {
    padding: 10px 12px;
}

 .content-table thead tr {
     background-color: #0B4950;
     text-align: left;
 }

 .content-table tbody tr,
 .content-table tfoot tr {
     border-bottom: 1px solid #646464;
 }

 .content-table tbody tr:nth-child(odd) {
     background-color: #D8F6FA;
     color: #0B4950;

 }

 .content-table tbody tr:nth-child(even) {
    background-color: #ABECF4;
    color: #0B4950;
}

.content-table tfoot tr {
    background-color: #18A4B5;
    border-top: 2px solid #0B4950;
    border-bottom: 2px solid #0B4950;
}